.layout {
  padding: 0 39px;
  box-sizing: border-box;
  width: 100%;

  @media screen and (max-width: 768px) {
    padding: 33px;
  }

  @media screen and (max-width: 620px) {
    padding: 15px;
  }
}

.content {
  max-width: 1110px;
  margin: 0 auto;
}