.linkBase
  cursor: pointer
  box-sizing: border-box
  padding: 0 5px
  color: black
  border: none
  background: transparent
  text-decoration: none
  transition: .2s color, .2s background

  &.isActive
    color: var(--button-background-active)

  &:focus-visible, &.isActive:focus-visible
    background: var(--button-background)
    color: black

  &:hover, &.isActive:hover
    color: var(--text-accent-color)

  &:active, &.isActive:active
    color: #376B44


.fullWidth
  width: 100%
