.app.light-theme
  --background-color: #F4F6F5
  --background-accent-color: #E1EDE6
  --splitter-accent-color: #C3D1C6

  --text-color-main: #2C2D35
  --text-accent-color: #598D66
  --text-minor-color: #86928B

  --button-background: #D4E8D9
  --button-background-active: #376B44