.menu
  background: var(--background-accent-color)
  padding: 33px 30px 32px

.content
  max-width: 1110px
  display: flex
  margin: 0 auto
  justify-content: space-between

.linksWrapper
  display: flex
  gap: 54px